.App-body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  flex-direction: column; /* Change to column layout to stack items vertically */
}


.App {
  background-color: #f0f0f0;
}

.row {
  display: flex;
  align-items: flex-start; /* Align items at the top of the container */
  justify-content: center;
}

.left-section {
  flex: 1 1 0;
  width: 0;
  background-color: #f0f0f0;
  justify-content: center;
  margin-right: 5%;
}

.overlay {
  flex: 2; /* Make the overlay take more vertical space */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  justify-content: flex-start; /* Align content at the top of the container */
}

.middle-right-section {
  flex: 1; /* Adjust the flex ratio as needed */
  display: flex;
  flex-direction: column;
}

.graph-container {
  width: 800px;
  height: 400px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.graph-container svg {
  box-sizing: content-box;
}

.img-container {
  max-width: 100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 12px;
}
