.App-body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  flex-direction: column; 
}

.App .nav-link {
  color: #30a825; 
}

.App .nav-link:hover {
  color: rgb(15, 106, 70) 
}

.App .tooltip {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

body{
  background-color: #f0f0f0
}

.App .titulo{
  margin-left: 10%;
}
.App {
  background-color: #f0f0f0;
}

.App .row {
  display: flex;
  justify-content: center;
}

.App .item {
  margin-right: 10%;
  width: 20%;
  margin-bottom: 4%;
}

.left-section {
  flex: 1 1 0;
  width: 100%;
  background-color: #f0f0f0;
  justify-content: center;
}

.overlay {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  margin-top: 2%;
  margin-bottom: 2%;
}

.accordion-button {
  background-color: rgb(15, 106, 70) !important;
  color: #ffffff !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
}


.middle-right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.graph-container {
  min-width: 900px; 
  height: 400px;
  background-color: #f0f0f0;
}

.graph-container svg {
  box-sizing: content-box;
}

.img-container {
  max-width: 100%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 12px;
}
